<%- include('header') %>
    <section class="container">
        <form action="/cotacao" method="GET">
            <div>
                <input type="number" name="cotacao" placeholder="Cotação dolar"  value="<%=cotacao%>" required>
            </div>
            <div>
                <input type="number" name="quantidade" placeholder="Quantidade dolar"  required>
            </div>
            <div>
                <input type="submit" placeholder="Converter">
            </div>
        </form>
    </section>    
<%- include('footer') %>
